{% extends "base.html" %} {% block title %}SeroConnect{% endblock %}{% block content%}

<!-- Home page for SeroConnect -->
<div id="wrapper">
  <div id="container">

    <h1>Mental Health Matters!<br>You Are Not Alone.</h1>
   
  </div>
</div>
<!-- ===========================text end=====================================-->
<!--===========================card start===============================================-->

<div class="header">
  
   <h2>We help you take care of your Mental health</h2>
   <h2>We'll live happy life Together</h2>

   <p>“Your present circumstances don’t determine where you go; they merely determine where you start.” – Nido Qubein</p>
  
</div>
<div class="row1-container">
  <div class="box box-down cyan">
    <h2>Podcast</h2>
    <p> A monthly Podcast is unique feature which is conducted with a Qualified professional</p>
    <img src="/static/images/pod.png" alt="">
  </div>

  <div class="box red">
    <h2>Forum</h2>
    <p>Common Forum Chat is a feature available in a basic plan</p>
    <img src="/static/images/forum.png" alt="">
  </div>

  <div class="box box-down blue">
    <h2>Free videos</h2>
    <p>There is vast amount of videos available to educate you about your Mental health</p>
    <img src="/static/images/vo.png" alt="">
  </div>
</div>
<div class="row2-container">
  <div class="box orange">
    <h2>Self-care</h2>
    <p>lets start to care and learn ourselves and lead a happy life</p>
    <img src="/static/images/me.png" alt="">
  </div>
</div>


 <!--====================================price card =======================================-->

 <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>Forum</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>Anonymous user id</li>
              
              <li class="text-muted"><span class="fa-li"><i class="bi bi-x-lg"></i></span>posting feature</li>
              <li class="text-muted"><span class="fa-li"><i class="bi bi-x-lg"></i></span>videos</li>
              <li class="text-muted"><span class="fa-li"><i class="bi bi-x-lg"></i></span>Free montly Podcast
              </li>
              <li class="text-muted"><span class="fa-li"><i class="bi bi-x-lg"></i></span>Questioning in podcast </li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Try now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
            <h6 class="card-price text-center">$10<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>Forum</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>Anonymous user id</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>posting feature</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>videos</li>
              <li class="text-muted"><span class="fa-li"><i class="bi bi-x-lg"></i></span>Free montly Podcast</li>
              <li class="text-muted"><span class="fa-li"><i class="bi bi-x-lg"></i></span>Questioning in podcast</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Buy now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
            <h6 class="card-price text-center">$15<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></i></i></span>Forum
              </li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></i></span>Anonymous user id</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>posting feature</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>videos</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>Free montly Podcast</li>
              <li><span class="fa-li"><i class="bi bi-check-lg"></i></span>Questioning in podcast</li>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
