{% extends "base.html" %} {% block title %}SeroConnect{% endblock %}{% block content%}
<div id="wrapper">
  <div id="container">

      <h1>Mental Health Matters!<br>You Are Not Alone.</h1>
   
  </div>
</div>
<!-- ===========================text end=====================================-->
<!--===========================card start===============================================-->
<div class="title">
    <h2><span style="color: #ff9f43">Ser</span><span style="color: #0abde3">vice</span> <span style="color: #ee5253"></span><span style="color: #00d2d3">avai<span><span style="color: #5f27cd">lable<span></h2>
  </div>
  <div class="card1">
    <img src="/static/images/chat.png" alt="">
    <h3>Forum</h3>
    <p>ghjkl;</p>
  </div>
  
  <div class="card2">
    <img src="/static/images/book.png" alt="">
    <h3>Self-Awarness</h3>
    <p>jhgfdc</p>
  </div>
  
  <div class="card3">
    <img src="/static/images/post.png" alt="">
    <h3>Share Post</h3>
    <p>kjhgfd</p>
  </div>
  <div class="footer">
  </div>

{% endblock %}
