{% extends "base.html" %} {% block title %}SeroConnect{% endblock %}{% block content%}
<a href="{{url_for('post.createpost')}}">Create post</a>

<section class="post offset-md-3">
      <div class="posthead">
        <div class="name">
          {% if post.anonymous==False %}
          <h3>{{postuser.query.filter_by(id=post.user_id).first().username }}</h3>
          {%else%}
          <h3>Anonymous</h3>
          {%endif%}
        </div>
      
        {% if post.user_id==user.id%}
        <form action="{{ url_for('post.deletepost',postid=post.id) }}" class='deleteform' method="POST">
          <button class='deletebtn btnoutline' action="submit"><i class="bi bi-archive"></i></button>
        </form>
        <form action="{{ url_for('post.editpost',postid=post.id) }}" method="GET">
          <button id='editbtn' class="btnoutline" action="submit"><i class="bi bi-pencil-fill"></i></button>
        </form>
      </div>
      {%endif%}
  <div>
    <div class="title">
      {{post.title}}
    </div>
 
    <div class="images">
      {% set images=postimage.query.filter(postimage.post_id==post.id).all()%}
      {%if images%}
      {%for image in images %}
      <div class="image-display">
        <img src="{{url_for('static',filename='images/'+image.image)}}"  alt="">
      </div>
      {%endfor%}
      {%endif%}
    </div>
    {{post.content}}
    <form action="{{url_for('comments.createcomment',postid=post.id,userid=current_user.id)}}" method="POST" class="createcommentform">
      <div class="form-group">
        <label for="comment">comment</label>
        <textarea id="commenttext" name="comment" rows="2" cols="30"></textarea>
        <button id="createcomment" action="submit">comment</button>
      </div>
    </form>
    {% include 'forum/showcomments.html' %}
  </div>
</section>

{% endblock %}