<!-- loads pagination of posts on scroll -->
{%for post in posts.items%}
{% if loop.last and posts.has_next %}
<div hx-get="{{url_for('views.forum', page = posts.next_num)}}" hx-trigger="revealed" hx-swap="afterend">
  {% else %}
  <div>
    {%endif%}
    <section class="post offset-md-3">
      <div class="posthead">
        <div class="name">
          {% if post.anonymous==False %}
            {%if postuser.query.filter_by(id=post.user_id).first().userimage%}
             <h3><img src="{{url_for('static',filename='images/User/'+postuser.query.filter_by(id=post.user_id).first().userimage)}}">{{postuser.query.filter_by(id=post.user_id).first().username }}</h3>
            {%else%}
             <h3> <i class="bi bi-person-circle"></i>{{postuser.query.filter_by(id=post.user_id).first().username }}</h3>
            {%endif%}
          {%else%}
          <h3> <i class="bi bi-person-circle"></i>Anonymous</h3>
          {%endif%}
       </div>
      
        {% if post.user_id==user.id or current_user.Admin%}
        <form action="{{ url_for('post.deletepost',postid=post.id) }}" class='deleteform' method="POST">
          <button class='deletebtn btnoutline' action="submit"><i class="bi bi-archive"></i></button>
        </form>
        <form action="{{ url_for('post.editpost',postid=post.id) }}" method="GET">
          <button id='editbtn' class="btnoutline editbtn" action="submit"><i class="bi bi-pencil-fill"></i></button>
        </form>
      </div>
        {%endif%}

      <div class="title">
        {{post.title}}
      </div>
      <!-- Image display -->
      <div class="images">
        {% set images=postimage.query.filter(postimage.post_id==post.id).all()%}
        {%if images%}
        {%if images|length>1%}
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {%for image in images %}
            <div class="carousel-item active">
              <img src="{{url_for('static',filename='images/'+image.image)}}"  class="d-block w-100 {% if loop.counter == 1 %} active {% endif %}"  alt="">
            </div>
            {%endfor%}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- end -->
        {%else%} 
        <div class="image-display">
          <img src="{{url_for('static',filename='images/'+images[0].image)}}"  alt="">
        </div>
      </div>

       {%endif%}

      <!-- End image display -->
      {% endif %}
     
      <br>
      {{post.content}}
      <br>
      <a class="btn btn-primary text-uppercase" href="{{url_for('comments.show_comments',postid=post.id,userid=current_user.id)}}">Comment</a>
  </div>
  </section>
  {%endfor%}